@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body{
    font-family: Inter;
}
main{
    display: flex;
}
/** cabeçalho **/
header{
    position: absolute;
    width: 100%;
    height: 70px;
    left: -3px;
    top: 0px;
    display: flex;
    justify-content: space-between;    
    background-color: #F5F5F5;
}
h2 {
    margin-left: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
}
.nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 117px;
    margin-top: 27px;
    text-decoration: underline;
    text-decoration: none;
    color: #828282;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.nav-first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}
.carrinho{
    display: flex;
    flex-direction: column;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.first-column, .second-column{
    display: flex;
    justify-content: center;
    margin: auto;
}
.card{
    margin: 18px;
    background-color: #f5f5f5;
}
img {
    display: flex; 
    justify-content: center;
    margin-left: auto; 
    margin-right: auto
}
.categoria{
    font-size: 12px;
    background-color: #2e245e;
    color:#FFFFFF;
    max-width: 85px;
    padding: 5.75px;
    margin: 15px;
    text-align: center;
}
.titulo-produto{
    font-size: 18px;
    color:#333333;
    font-weight: bold;
    margin: 15px;
}

.produto-conteudo{
    font-size: 12px;
    color: #828282;
    margin: 15px;
}

.produto-preco{
    font-size: 12px;
    color: #2e245e;
    font-weight: 600;
    margin: 15px;
}
.carrinho {
    margin-top: 87px;
}
.produto-carrinho{
    font-size: 14px;
    font-weight: 500px;
    color: #828282;
    margin: 15px;
    text-decoration-line: underline;
}
.caixa-pesquisa {
    width: 228px;
    height: 50px;
    border: 1px solid #F5F5F5;
    color: #828282;
}
.caixa-pesquisa, .placeholder {
    padding-left: 14px;
}
.btn_pesquisar {
    border: none;
    background-color: #6B54DE;
    color: #ffffff;
    width: 96px;
    height: 50px;
}

.carrinho-principal {
    width: 347px;
    height: 50px;
    margin-top: 10px;
    background: #6B54DE;
}

.carrinho-conteudo {
    position: absolute;
    width: 347px;
    height: 344px;
    top: 211px;
    background: #F5F5F5;
}
.titulo-carrinho {
    width: 185px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.titulo-carrinho p {
    margin: 13px 81px;
    color: #FFFFFF;
    white-space: nowrap;
}
.carrinho-conteudo {
    width: 347px;
    height: 344px;
    background-color: #F5F5F5;
}
.carrinho-conteudo h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #333333;
    margin-left: 90px;
    margin-top: 118px;
    white-space: nowrap;
}
.carrinho-conteudo p{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-left: 128px;
    margin-top: 0px;
}