@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    font-family:'Inter', sans-serif;
}
main {
    display: flex;
}
/** cabeçalho **/
header{
    position: absolute;
    width: 1603px;
    height: 70px;
    left: -3px;
    top: 0px;
    background: #F5F5F5;
}
.menu {
    float:none;
}
.nav-menu{
    display: flex;
    justify-content:right;
    width: 346px;
    height: 16px;
    list-style: none;
}
.cabecalho-menu-item {
    text-decoration: none;
    color: #333333;
    margin-right: 117px;
}
.cabecalho-menu-item:hover {
    text-decoration: underline;
}
.carrinho {
    display: flex;
    flex-direction: column;
}
.first-column, .second-column {
    display: flex;
}

.card {
    margin: 20px;
}

.produtos {
    width: 100%;
    max-width: 1200px;
    margin-top: 88px;
}

.categoria {
    font-size: 12px;
    background-color: #2e245e;
    color:#FFFFFF;
    max-width: 85px;
    padding: 5.75px;
    margin: 15px;
    text-align: center;
}
.titulo-produto {
    font-size: 18px;
    color:#333333;
    font-weight: bold;
    margin: 15px;
}

.produto-conteudo {
    font-size: 12px;
    color:#828282;
    margin: 15px;
}

.produto-preco {
    font-size: 12px;
    color: #2e245e;
    font-weight: 600;
    margin: 15px;
}
.carrinho {
    margin-top: 97px;
}
.produto-carrinho {
    font-size: 14px;
    font-weight: 500px;
    color: #828282;
    margin: 15px;
    text-decoration-line: underline;
}

.caixa-pesquisa {
    width: 200px;
    height: 45px;
    background-color: #F5F5F5;
    border: none;
    color: #828282;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn_pesquisar {
    border: none;
    background-color: #6B54DE;
    ;
    color: #ffffff;
    width: 96px;
    height: 50px;
}

.carrinho-principal {
    width: 347px;
    height: 50px;
    left: 1138px;
    top: 157px;
    background-color: #6B54DE;
}

.carrinho-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    margin-top: 100px;
    background-color: #F5F5F5;
}

.titulo-carrinho {
    width: 347px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}
.texto-carrinho {
    width: 185px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    font-family: Inter;
    color: #FFFFFF;
}

.carrinho-conteudo h2 {
    font-size: 22px;
    color: #333333;
}

.carrinho-conteudo p {
    font-size: 14px;
    color: #828282;
}